body {
    font-family: 'Abel', sans-serif;
    background: #f0f0f0;
}

h1, h2, h3{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}

.brand-name {
    font-size: 1.75em;
}

nav a {
    font-size: .75em;
    color: black;
}